*{
    margin:0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111;
    color: white;
}

#banner{
    background-size: cover;
    color: white;
    height: 448px;
}

.banner-content{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

#banner-title{
    font-size: 3rem;
    font-weight: 800;
    font-family: monospace;
    padding-bottom: 0.3rem;
}

#banner-description{
    width: 45rem;
    line-height: 1.3rem;
    padding-top: 1rem;
    height: 80px;
    font-size: 0.8rem;
    max-width: 360px;
    
}

.banner-button , 
button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    margin-right: 1rem;
    font-weight: 700;
    border-radius: 2px;
    background-color: rgba(51,51,51,0.5);
    padding: 0.5rem 2rem;
}

.banner-button:hover , 
button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner-fade{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
}

.row {
    margin-left: 20px;
    margin-top: 5px;
}
 
.image-container{
    display: flex;
    padding: 10px;
    overflow-x:scroll;
    overflow-y: hidden;

} 

.image-container::-webkit-scrollbar{
    width: 0; /*removes scrollbar space*/
    background: rgba(0,0,0,0.1);
}

.image
{
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin-left: 10px;
    transition: transform 450ms;
}
.image:hover{
    transform: scale(1.08);
}
.largeImage{
    max-height: 250px;
}

.container{
    width: 60%;
    display: none;
    justify-content: space-between;
    max-height: 500px;
    margin: 20px auto;
    background-color: black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
#movie-poster img{
    max-height: 500px;
}

.details{
    padding: 10px 20px;
}

#title{
    font-size: 3rem;
    font-weight: 800;
    font-family: monospace;
}
.small-details{
    display: flex;
    padding: 0px;

}

#language{
    border-left: 2px solid white;
    border-right: 2px solid wheat;

}
.small-details p{
    padding: 1px 10px;

}

#description{
    font-size: 0.8rem;
    padding-top: 1rem;
    line-height: 1.3rem;
}
#play{
    margin-top: 20px;
}
#close{
    position: relative;
    right: 10px;
    height: fit-content;
    top: 10px;
    border-radius: 150px;
    font-size: 20px;
    padding: 5px 12px;
    cursor: pointer;
    font-weight: 600;
}

/* Navbar */
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 30px;
    padding: 20px;
    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.logo{
    width: 80px;
    object-fit: contain;
    position: fixed;
    left: 20px;
    top: 10px;
}
.sideIcon{
    object-fit: contain;
    width: 40px;
    position: fixed;
    right: 20px;
    
}
